// FONT FROM GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import './variables';
@import './mixins';
@import './forms';

// COMPONENT STYLES
@import '../components/Navbar/navbar';
@import '../components/Alert-Modal/alertModal';
@import '../components/Functions-Bar/functionsBar';
@import '../components/Sidebar/sidebar';
@import '../components/Loader/loader';
@import '../components/Profile-Modal/profileModal';
@import '../components/Modals/modals';

// PAGES STYLES
@import '../pages/Auth/auth';
@import '../pages/Dashboard/dashboard';
@import '../pages/waitlist-users/waitlist-users';
@import '../pages/waitlist-users/view-waitlist-user';

// RESETS
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Share Tech', sans-serif;
  max-width: 1800px;
  margin: auto;
  color: $textColor1;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-self: center;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
select {
  font-size: 16px;
  outline: none;
  border: none;
}

select {
  text-transform: capitalize;
}

button,
.button {
  padding: 8px 30px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 1px 1px rgba(123, 123, 123, 0.16);
  color: #717171;
  border: none;
  @include flex(center, center, row);
  font-family: 'Poppins', sans-serif;

  &.green {
    background-color: $primaryColor;
    color: #ffffff;
  }

  &.orange {
    background: $secondaryColor;
    color: #fff;
  }

  &.transparent {
    background: transparent;
    border: 1px solid #d9d9d9;
    box-shadow: none;
  }

  &.red {
    background: red;
    box-shadow: none;
    color: #fff;
  }

  &.grey {
    background-color: #717171;
    color: #fff;
    box-shadow: none;
  }

  img {
    margin-left: 10px;
    height: 20px;
    width: 20px;
  }
}

// UTILITY CLASSES
.underline {
  border: 1px solid #f2f3f3;
}

.border {
  border: 2px solid red;
}
